@import "../variables";

.case-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
  color: inherit;
  text-decoration: none;

  &_animation_scale {
    .case-card__img:hover {
      img {
        transform: scale(1.25);
      }
    }
  }

  &_animation_flip {
    &:hover {
      .case-card__info {
        opacity: 1;
        transition: 0.5s ease-out;
        transition-delay: 0.3s;
      }

      .case-card__img {
        box-shadow: 0 0 1rem var(--accent-color);

        img {
          transition: 0.6s ease-in-out;
        }

        .case-card__img-rt {
          left: 100%;
        }

        .case-card__img-lt {
          top: -75%;
        }

        .case-card__img-lb {
          left: -100%;
        }

        .case-card__img-rb {
          top: 100%;
        }

        .case-card__img-lt_v2 {
          top: -50%;
        }

        .case-card__img-lb_v2 {
          left: -50%;
        }

        .case-card__img-rb_v2 {
          left: 100%;
        }

        .case-card__img-rb_v2-1 {
          left: 100%;
        }

        .case-card__img-lt_v3 {
          top: -70%;
        }

        .case-card__img-lb_v3 {
          left: -60%;
        }

        .case-card__img-rb_v3 {
          top: 100%;
        }

        .case-card__img-lt_v4 {
          left: -30%;
        }

        .case-card__img-rb_v4 {
          top: 100%;
        }
      }

      .case-card__info {
        z-index: 5;
        display: block;
      }
    }

    .case-card {
      &__img {
        position: relative;
        width: 100%;
        overflow: hidden;

        img {
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          transition: 0.15s ease-in;
        }
      }

      &__img-bg {
        height: 101%;
      }

      &__img-rt {
        position: absolute;
        top: -1%;
        left: 40%;
        width: 70%;
        height: auto;
        border-radius: 0rem;
      }

      &__img-lt {
        position: absolute;
        top: -6%;
        left: -10%;
        width: 37%;
        height: auto;
      }

      &__img-lb {
        top: 53%;
        left: 0%;
        width: 63%;
        height: auto;
      }

      &__img-rb {
        top: 53%;
        left: 51%;
        width: 50%;
        height: auto;
      }

      &__img-lt_v2 {
        top: 0%;
        width: 100%;
        height: auto;
      }

      &__img-rb_v2 {
        top: 46%;
        left: 25%;
        width: 75%;
        height: auto;
      }

      &__img-rb_v2-1 {
        top: 46%;
        left: 10%;
        width: 100%;
        height: auto;
      }

      &__img-lb_v2 {
        top: 25%;
        width: auto;
        height: 75%;
      }

      &__img-rb_v3 {
        top: 63%;
        left: 68%;
        width: auto;
        height: 37%;
      }

      &__img-lt_v3 {
        top: 0;
        width: 100%;
        height: auto;
      }

      &__img-lb_v3 {
        top: 63%;
        left: 0;
        width: auto;
        height: 37%;
      }

      &__img-lt_v4 {
        top: 0%;
        left: 0%;
        width: auto;
        height: 49%;
      }

      &__img-rb_v4 {
        top: 53%;
        left: 70%;
        width: auto;
        height: 49%;
      }
    }
  }

  &__tags {
    position: absolute;
    bottom: 3.58rem;
    left: 0;
    display: flex;
    font-size: 1.5rem;
    line-height: 1.75rem;
    transform: rotate(-90deg);
    transform-origin: left top;

    li {
      margin-right: 1.5625rem;
    }

    a {
      color: inherit;
      text-decoration: none;
      transition: color ease-in 0.16s;

      &:hover,
      &.active {
        color: var(--accent-color);
      }
    }
  }

  &__img {
    position: relative;
    align-self: stretch;
    padding-bottom: 120.3%;
    overflow: hidden;
    border-radius: 1.4438rem;
    transform: translateZ(0);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
      transition: transform ease-out 0.25s;
      will-change: transform;
    }
  }

  &__title {
    margin-top: 1.5rem;
    color: #0f225a;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: 0.0625rem;

    @include mobile {
      font-size: 30px;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
  }

  &__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.1875rem 1.5625rem;
    color: #fff;
    font-size: 1.5rem;
    background: var(--background-color);
    background-color: transparent;
    border: 0.5rem solid var(--accent-color);
    border-radius: 1.4438rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
  }

  &__subtitle {
    margin-bottom: 0.625rem;
    font-weight: bold;
    font-size: 1.5rem;
  }

  &__price {
    font-size: 4rem;

    @include mobile {
      font-size: 1.5rem;
    }
  }

  &__stack {
    margin-top: 2.5625rem;
    font-size: 2.5rem;

    @include mobile {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }

  &__description {
    margin-top: 4.1875rem;

    @include mobile {
      margin-top: 1.5rem;
      font-size: 1rem;
    }
  }
}
