@import "../variables";

.footer {
  padding: 1.875rem 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  background: #efefef;

  @include mobile {
    font-size: 18px;
    line-height: 28px;
  }

  .container {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    max-width: min(1550px, 85vw);

    @include mobile {
      display: flex;
      flex-direction: column;
      grid-gap: unset;
      align-items: flex-start;
      max-width: 100%;
    }
  }

  &__logo {
    height: 3.25rem;
  }

  &__soc-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include mobile {
      justify-content: flex-start;
      order: 1;
      margin-top: 36px;
    }
  }

  &__soc-item {
    &:not(:last-of-type) {
      margin-right: 1.5rem;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.25rem;
      height: 3.25rem;

      @include mobile {
        width: 50px;
        height: auto;
      }

      img {
        height: 1.5625rem;
        transform-origin: center;
        transition: all ease-in 0.15s;

        @include mobile {
          height: 25px;
        }
      }

      &:hover {
        img {
          transform: scale(1.3);
        }
      }
    }
  }

  &__nav {
    ul {
      display: flex;

      @include mobile {
        flex-wrap: wrap;
      }
    }

    li {
      @include mobile {
        margin: 10px 25px 10px 0;
      }

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }

  &__additional-info {
    display: flex;
    margin-top: auto;

    @include mobile {
      flex-direction: column-reverse;
      margin-top: 30px;
    }

    p {
      margin-right: 3.75rem;
    }

    a {
      margin-bottom: 0.5rem;
      color: inherit;
      text-decoration: none;

      &:hover {
        color: var(--accent-color);
      }
    }
  }

  &__contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;

    @include mobile {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: none;
      margin-top: 36px;
      row-gap: 24px;
    }
  }

  &__contact-column {
    display: flex;
    flex-direction: column;

    & p:first-child {
      margin-bottom: 0.75rem;

      @include mobile {
        margin-bottom: 12px;
      }
    }
  }

  &__contact-item {
    // margin-bottom: 0.5rem;
    line-height: 2.2rem;
    color: #414141;
    font-weight: 500;
    text-decoration: none;

    @include mobile {
      margin-bottom: 8px;
    }
  }
}

.footer__nav a {
  margin-right: 3.75rem;
}
