.creeping-line {
    padding: 46px 0;
    width: 100%;
    height: 240px;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__ref {
        font-size: 36px;
        line-height: 48px;
        color: white;
        text-decoration: none;
        font-weight: 700;
        margin: 0 60px;
    }
}