.footer {
    width: 100%;
    height: 248px;
    background-color: var(--bg-color);
    &__logo-socials {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__socials {
        margin-top: 13px;
        margin-right: 14px;
        width: 405px;
        display: flex;
        justify-content: space-between;
    }
    &__nav {
        width: 746px;
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        line-height: 28px;
        a {
            color: var(--font-color);
            text-decoration: none;
            &:hover {
          color: var(--accent-color);
        }
        }
    }
    &__links {
        margin-top: 49px;
        display: flex;
        justify-content: space-between;
    }
    &__credits {
        display: flex;
        justify-content: space-between;
        width: 565px;
        p, a {
            font-size: 24px;
            line-height: 28px;
            color: var(--font-color);
        }
    }
}