.services {
    margin-top: -11px;
    width: 100%;
    height: 460px;
    background-color: var(--accent-color);
    &__heading {
        padding-top: 60px;
        text-align: center;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 1px;
        color: var(--bg-color);
    }
    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
}

.service-block {
    position: relative;
    width: 342px;
    height: 220px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        position: absolute;
    }
    h3 {
        font-size: 28px;
        line-height: 36px;
        color: var(--bg-color);
        font-weight: 500;
        margin-top: 84px;
    }
    p {
        margin-top: 12px;
        width: 246px;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        color: var(--bg-color);
    }
}