.testimonials {
    width: 100%;
    background-color: var(--bg-color);
    text-align: center;
    padding-bottom: 73px;
    &__heading {
        padding-top: 60px;
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 60px;
        color: var(--font-color);
    }
}
.slider {
    margin-top: 60px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    &__pagination {
        width: 55px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    &__cards {
        margin: 0 36px;
        padding-top: 40px;
        width: 1071px;
    }
    &__controls {
        padding-top: 120px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 55px;
        &_prev {
            width: 54px;
            height: 54px;
            background-color: none;
            border: none;
            background: url(../icons/up.svg);
        }
        &_next {
            width: 54px;
            height: 54px;
            background-color: none;
            border: none;
            background: url(../icons/up.svg);
            transform: rotate(-180deg);
        }
    }
    &__dot {
        display: block;
        z-index: 10;
        width: 3px;
        height: 48px;
        margin: 6px 0;
        background-color: rgba(#373737, 0.7);
        &_active {
            height: 478px;
            background-color: var(--accent-color);
        }
    }
}
.slide-block {
    position: relative;
    margin-top: -40px;
    width: 1071px;
    border-radius: 15px;
    box-shadow: -1px 1px 8px 3px rgba(#858585, 0.25);
    background-color: var(--bg-color);
    height: 100px;
    overflow: hidden;
    &__wrapper {
        padding-top: 60px;
        display: flex;
        position: relative;
        width: 1071px;
    }
    &_active {
        height: 490px;
        .slide-block__wrapper {
            padding-top: 0px;
        }
    }
    &__image {
        margin: 60px;
        width: 342px;
        height: 370px;
        overflow: hidden;
    }
    &__text {
        padding-top: 60px;
        height: 370px;
        width: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        img {
            width: 48px;
            height: 48px;
        }
        color: var(--font-color);
        p {
            margin-top: 24px;
            font-size: 18px;
            line-height: 28px;
        }
        h3 {
            margin-top: 48px;
            font-weight: 500;
            font-size: 36px;
            line-height: 48px;
        }
        h4 {
            margin-top: 12px;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
        }
    }
}

@media (max-width: 1300px) {
    .slider {
        margin-top: 50px;
        min-height: 200px;
        &__cards {
            margin: 0 28px;
            padding-top: 32px;
            width: 800px;
            min-height: 200px;
        }
        &__controls {
            min-height: unset;
            &_prev {
                width: 45px;
                height: 45px;
                background: url(../icons/up.svg) center / contain;
            }
            &_next {
                width: 45px;
                height: 45px;
                background: url(../icons/up.svg) center / contain;
            }
        }
        &__pagination {
            width: 55px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
        &__dot {
            width: 3px;
            height: 30px;
            margin: 4px 0;
            &_active {
                height: 390px;
            }
        }
    }
    .slide-block {
        max-width: 800px;
        height: 80px;
        &__wrapper {
            padding-top: 60px;
            max-width: 1071px;
            min-height: 200px;
        }
        &_active {
            height: 400px;
        }
        &__image {
            object-fit: cover;
            margin: 40px;
            width: 280px;
            height: 303px;
        }
        &__text {
            padding-top: 40px;
            height: 300px;
            width: 400px;   
            img {
                margin-top: 4px;
                width: 38px;
                height: 38px;
            }
            p {
                margin-top: 28px;
                font-size: 16px;
                line-height: 20px;
            }
            h3 {
                margin-top: 26px;
                font-weight: 500;
                font-size: 30px;
                line-height: 34px;
            }
            h4 {
                margin-top: 8px;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}