.wrapper {
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 6px;
    height: 10px;
    border: solid #ff4800;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.4s ease;
    top: 2px;
    left: 4px;
  }
}

.checkbox:checked + .checkmark:after {
  width: 6px;
  height: 10px;
  opacity: 1;
}
