.llm-wrapper {
  animation: llm-wrapper-animation 10s linear infinite;
}

.llm-row-1 {
  animation: llm-row-1-animation 10s linear infinite;
}

.llm-row-2 {
  animation: llm-row-2-animation 10s linear infinite;
}

.llm-row-3 {
  animation: llm-row-3-animation 10s linear infinite;
}

.llm-row-4 {
  animation: llm-row-4-animation 10s linear infinite;
}

.llm-row-5 {
  animation: llm-row-5-animation 10s linear infinite;
}

.llm-row-6 {
  animation: llm-row-6-animation 10s linear infinite;
}

@keyframes llm-wrapper-animation {
  0%, 
  100% {
    opacity: 0;
    transform: translateY(2rem);
  }
  10% {
    opacity: 1;
  }
  30% {
    transform: translateY(2rem);
  }
  40% {
    transform: translateY(-5rem);
  }
  97% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  99% {
    transform: translateY(-5rem);
  }
}

@keyframes llm-row-1-animation {
  0%, 
  100% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }

}

@keyframes llm-row-2-animation {
  0%, 
  100% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}

@keyframes llm-row-3-animation {
  0%, 
  100% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}

@keyframes llm-row-4-animation {
  0%, 
  100% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}

@keyframes llm-row-5-animation {
  0%, 
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}

@keyframes llm-row-6-animation {
  0%, 
  100% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
}