@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";

@import "./constants.scss";
@import "./fonts.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

@layer base {
  html {
    font-size: 16px;

    @media (max-width: 1439px) {
      font-size: 1.111vw;
    }

    @media (max-width: 640px) {
      font-size: 16px;
    }
  }

  body {
    @apply font-sans text-light-text-primary dark:text-dark-text-primary;
    font-size: 1rem;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  a {
    text-decoration: none;
    color: var(--primary-text-color);
  }
}

input:not([name="name"])::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.container {
  @apply w-full px-[1rem] md:max-w-[790px] lg:max-w-[80rem] lg:px-[5rem] 2xl:max-w-[90rem] mx-auto m-l:max-w-full;
}

.winter {
  --color-text: #4fccd5;
  --color-bg: rgba(79, 204, 213, 0.1);
}

.summer {
  --color-text: #ec5f3b;
  --color-bg: rgba(236, 95, 59, 0.1);
}

.noise {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/assets/images/noise.png");
    background-size: contain;
    background-repeat: repeat;
    pointer-events: none;
  }
}

.marked-list {
  list-style: inherit;
  padding-left: 20px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

  select,
  textarea,
  input {
    font-size: 1.25rem;
  }
}