@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./constants.scss";
@import "./fonts.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  html {
    font-size: 16px;

    @media (max-width: 1439px) {
      font-size: 1.111vw;
    }

    @media (max-width: 640px) {
      font-size: 16px;
    }
  }

  body {
    @apply font-sans;
    font-size: 1rem;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  a {
    text-decoration: none;
    color: var(--primary-text-color);
  }
}

.container {
  // @apply w-full md:px-5 xl:px-20 py-4 mx-auto;
  @apply w-full sm:px-[1rem] md:max-w-[790px] lg:max-w-[90rem] lg:px-[5rem] mx-auto;
}

.winter {
  --color-text: #4fccd5;
}
.summer {
  --color-text: #ec5f3b;
}
