doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Unistory | Home page
    link(rel="stylesheet", href="../styles/main.scss")
  body
    include ./blocks/header
    .welcome
      .container 
        h1.welcome__title 
          | Software &nbsp;
          span.word development
          br
          | & &nbsp;
          span product consultance
        ul.welcome__advantages
          li.welcome__advantages-item 
            a.advantage(href="https://www.upwork.com/ag/neca/", target="blank")
              span.advantage__left 4.9
              .advantage__right
                img(src="../icons/Upwork.png", alt="upwork")
          li.welcome__advantages-item 
            a.advantage
              span.advantage__left 20+
              .advantage__right
                | Developed
                br
                | projects
          li.welcome__advantages-item 
            a.advantage
              span.advantage__left 87%
              .advantage__right
                | Repeat
                br
                | customers
        a.btn.btn_animated_blue.btn_size_l.welcome__contact-btn(
          href="#contactUs"
        ) Discus the project
    .tags-slider
      .swiper.marquee_top
        .swiper-wrapper
          a.tags-slider__tag.swiper-slide(href="#") #Front-end
          a.tags-slider__tag.swiper-slide(href="#") #Startups
          a.tags-slider__tag.swiper-slide(href="#") #NFT
          a.tags-slider__tag.swiper-slide(href="#") #Design
          a.tags-slider__tag.swiper-slide(href="#") #DeFi
          a.tags-slider__tag.swiper-slide(href="#") #Support
          a.tags-slider__tag.swiper-slide(href="#") #eCommerce
          a.tags-slider__tag.swiper-slide(href="#") #B2B
      .swiper.marquee_bottom
        .swiper-wrapper
          a.tags-slider__tag.swiper-slide(href="#") #Front-end
          a.tags-slider__tag.swiper-slide(href="#") #Startups
          a.tags-slider__tag.swiper-slide(href="#") #NFT
          a.tags-slider__tag.swiper-slide(href="#") #Design
          a.tags-slider__tag.swiper-slide(href="#") #DeFi
          a.tags-slider__tag.swiper-slide(href="#") #Support
          a.tags-slider__tag.swiper-slide(href="#") #eCommerce
          a.tags-slider__tag.swiper-slide(href="#") #B2B
    .cases
      .container 
        h2.cases__title Success stories
    script(type="module", src="../scripts/marquee.js") 
