.wrapper {
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
}

.checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  position: relative;
  opacity: 0;
  
  cursor: pointer;
  
}

.checkmark {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #FF4800;

  &:after {
    content: '';
    position: absolute;
    display: none;
    width: 6px;
    height: 10px;
    top: 0px;
    right: 0px;
    left: 4px;
    bottom: 0px;;
    border: solid #ff4800;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.checkbox:checked + .checkmark {
  background-color: #ffffff;
}

.checkbox:checked + .checkmark:after {
  display: block;
}
