footer.footer 
  .container
    img.footer__logo(src="../icons/logo.svg")
    ul.footer__soc-list 
      li.footer__soc-item
        a(href="javascript:;")
          img(src="../icons/links/Telegram.svg") 
      li.footer__soc-item
        a(href="javascript:;")
          img(src="../icons/links/WhatsApp.svg") 
      li.footer__soc-item
        a(href="https://www.upwork.com/ag/neca/")
          img(src="../icons/links/Upwork.svg") 
    nav.footer__nav 
      ul 
        li 
          a(href="/#services") Servises
        li 
          a(href="/#competence") Competence
        li 
          a(href="portfolio.pug") Portfolio
        li 
          a(href="/#about") About
        li 
          a(href="/#contactUs") Contact us
    .footer__additional-info 
      span © 2021 Unistory all rights reserved
      a(href="javascript:;") Privacy Policy
