header.header
    .container
        img.header__logo(src="../icons/logo.svg")
        nav.mneu.header__menu
            ul.menu__list
                li.menu__item
                    a(href="#services") Services
                li.menu__item
                    a(href="#competence") Competence
                li.menu__item
                    a(href="#portfolio") Portfolio
                li.menu__item
                    a(href="#about") About
                li.menu__item
                    a.btn.btn_animated_blue(href="#contactUs") Contact us
                