header.header
  .container
    a.header__logo(href="/")
      img(src="../icons/logo.svg")
    nav.mneu.header__menu
      ul.menu__list
        li.menu__item
          a(href="/#services") Services
        li.menu__item
          a(href="/#competence") Competence
        li.menu__item
          a(href="portfolio.pug") Portfolio
        li.menu__item
          a(href="/#about") About
        li.menu__item
          a(href="/#contactUs") Contact us
