meta(property="og:title" content="Software development company | Unistory")
meta(property="og:description" content="Personalized digital solutions for businesses. We offer custom solutions to extend your project.")
meta(property="og:image" content="../img/og-picture.jpg")
meta(property="og:type" content="website")
meta(property="og:url" content="https://unistory.app/")
meta(property="twitter:card" content="summary_large_image")
