section.projectOther 
  h2.container.subtitle.subtitle_sub(data-i18n="project.other_projects") Other projects
  .swiper.container.projectOther__slider
    .swiper-wrapper
      .swiper-slide.projectOther__item
        .projectOther__itemImage
          img(src="../img/project/moon-muttz-preview.jpg", alt="")
        p Moon muttz
        h3.subtitle.subtitle_min NFT Platform
        a(href="#", data-i18n="project.explore") Explore
      .swiper-slide.projectOther__item
        .projectOther__itemImage
          img(src="../img/project/five-years-preview.jpg", alt="")
        p 5 Years plan
        h3.subtitle.subtitle_min Graduation application
        a(href="#", data-i18n="project.explore") Explore
      .swiper-slide.projectOther__item
        .projectOther__itemImage
          img(src="../img/project/nft-world-preview.jpg", alt="")
        p NFTworld
        h3.subtitle.subtitle_min Play to earn NFT game
        a(href="#", data-i18n="project.explore") Explore
      .swiper-slide.projectOther__item
        .projectOther__itemImage
          img(src="../img/project/crypto-faces-preview.jpg", alt="")
        p Crypto faces
        h3.subtitle.subtitle_min Project type
        a(href="#", data-i18n="project.explore") Explore
