<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto&display=swap');
    </style>
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>  
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
    <header class="header">
      <div class="container">
        <div class="header__wrapper">
          <a href="index.html">
            <img src="icons/logo.svg" alt="Unistory logo">
          </a>
          <nav>
            <a class="header__a" href="#">Services</a>
            <a class="header__a" href="#">Competence</a>
            <a class="header__a" href="#" style="color: var(--accent-color);">Portfolio</a>
            <a class="header__a" href="#">About</a>
            <a href="index.html#form-section" class="header__a">Contact us</a>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <section class="portfolio" id="portfolio">
        <div class="container">
          <div class="portfolio__tags">
            <button class="tag-block" @click="sortProjects('all')"          v-bind:class="{'active': sortBy == 'all' }">All projects</button>
            <button class="tag-block" @click="sortProjects('Startups')"     v-bind:class="{'active': sortBy == 'Startups' }">#Startups</button>
            <button class="tag-block" @click="sortProjects('NFT')"          v-bind:class="{'active': sortBy == 'NFT' }">#NFT</button>
            <button class="tag-block" @click="sortProjects('Design')"       v-bind:class="{'active': sortBy == 'Design' }">#Design</button>
            <button class="tag-block" @click="sortProjects('DeFi')"         v-bind:class="{'active': sortBy == 'DeFi' }">#DeFi</button>
            <button class="tag-block" @click="sortProjects('Support')"      v-bind:class="{'active': sortBy == 'Support' }">#Support</button>
            <button class="tag-block" @click="sortProjects('Web')"          v-bind:class="{'active': sortBy == 'Web' }">#Web</button>
            <button class="tag-block" @click="sortProjects('Back-end')"     v-bind:class="{'active': sortBy == 'Back-end' }">#Back-end</button>
            <button class="tag-block" @click="sortProjects('Trading Bots')" v-bind:class="{'active': sortBy == 'Trading Bots' }">#Trading Bots</button>
            <button class="tag-block" @click="sortProjects('Analytics')"    v-bind:class="{'active': sortBy == 'Analytics' }">#Analytics</button>
            <button class="tag-block" @click="sortProjects('Mobile')"       v-bind:class="{'active': sortBy == 'Mobile' }">#Mobile</button>
            <button class="tag-block" @click="sortProjects('FinTech')"      v-bind:class="{'active': sortBy == 'FinTech' }">#FinTech</button>
            <button class="tag-block" @click="sortProjects('Front-end')"    v-bind:class="{'active': sortBy == 'Front-end' }">#Front-end</button>
            <button class="tag-block" @click="sortProjects('Blockchain')"   v-bind:class="{'active': sortBy == 'Blockchain' }">#Blockchain</button>
            <button class="tag-block" @click="sortProjects('Development')"  v-bind:class="{'active': sortBy == 'Development' }">#Development</button>
            <button class="tag-block" @click="sortProjects('Release')"      v-bind:class="{'active': sortBy == 'Release' }">#Release</button>
            <button class="tag-block" @click="sortProjects('Booking')"      v-bind:class="{'active': sortBy == 'Booking' }">#Booking</button>
            <button class="tag-block" @click="sortProjects('eCommerce')"    v-bind:class="{'active': sortBy == 'eCommerce' }">#eCommerce</button>
            <button class="tag-block" @click="sortProjects('B2B')"          v-bind:class="{'active': sortBy == 'B2B' }">#B2B</button>
          </div>
          <div class="portfolio__wrapper">
            <div class="portfolio__examples">
              <article class="portfolio-block" v-if="sortBy == 'Startups' || sortBy == 'all'">
                <div class="portfolio-block__image">
                  <img src="img/Case 1.png" alt="acceptedhere">
                  <nav>
                    <a href="#">#Integrations</a>
                    <a href="#">#Blockchain</a>
                  </nav>
                </div>
                <h3>Millionpieces</h3>
              </article>
              <article class="portfolio-block" v-if="sortBy == 'NFT' || sortBy == 'all'">
                <div class="portfolio-block__image">
                  <img src="img/Case 2.png" alt="acceptedhere">
                  <nav>
                    <a href="#">#Integrations</a>
                    <a href="#">#Blockchain</a>
                  </nav>
                </div>
                <h3>eCommerce platform</h3>
              </article>
              <article class="portfolio-block" v-if="sortBy == 'Design' || sortBy == 'all'">
                <div class="portfolio-block__image">
                  <img src="img/Case 3.png" alt="acceptedhere">
                  <nav>
                    <a href="#">#Integrations</a>
                    <a href="#">#Blockchain</a>
                  </nav>
                </div>
                <h3>Millionpieces</h3>
              </article>
              <article class="portfolio-block" v-if="sortBy == 'DeFi' || sortBy == 'all'">
                <div class="portfolio-block__image">
                  <img src="img/Case 4.png" alt="acceptedhere">
                  <nav>
                    <a href="#">#Integrations</a>
                    <a href="#">#Blockchain</a>
                  </nav>
                </div>
                <h3>eCommerce platform</h3>
              </article>
              <article class="portfolio-block" v-if="sortBy == 'Startups' || sortBy == 'all'">
                <div class="portfolio-block__image">
                  <img src="img/Case 1.png" alt="acceptedhere">
                  <nav>
                    <a href="#">#Integrations</a>
                    <a href="#">#Blockchain</a>
                  </nav>
                </div>
                <h3>Millionpieces</h3>
              </article>
              <article class="portfolio-block" v-if="sortBy == 'NFT' || sortBy == 'all'">
                <div class="portfolio-block__image">
                  <img src="img/Case 2.png" alt="acceptedhere">
                  <nav>
                    <a href="#">#Integrations</a>
                    <a href="#">#Blockchain</a>
                  </nav>
                </div>
                <h3>eCommerce platform</h3>
              </article>
              <article class="portfolio-block" v-if="sortBy == 'Design' || sortBy == 'all'">
                <div class="portfolio-block__image">
                  <img src="img/Case 3.png" alt="acceptedhere">
                  <nav>
                    <a href="#">#Integrations</a>
                    <a href="#">#Blockchain</a>
                  </nav>
                </div>
                <h3>Millionpieces</h3>
              </article>
              <article class="portfolio-block" v-if="sortBy == 'DeFi' || sortBy == 'all'">
                <div class="portfolio-block__image">
                  <img src="img/Case 4.png" alt="acceptedhere">
                  <nav>
                    <a href="#">#Integrations</a>
                    <a href="#">#Blockchain</a>
                  </nav>
                </div>
                <h3>eCommerce platform</h3>
              </article>
              <div class="portfolio__notfound" >not found :(</div>
              
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer__logo-socials">
            <a href="index.html"><img src="icons/logo.svg" alt="Unistory logo"></a>
          <div class="footer__socials">
            <a href="#"><img src="icons/links/Telegram.svg" alt="Telegram"></a>
            <a href="#"><img src="icons/links/WhatsApp.svg" alt="WhatsApp"></a>
            <a href="#"><img src="icons/links/Upwork.svg" alt="Upwork"></a>
            <a href="#"><img src="icons/links/Telegram.svg" alt="Telegram"></a>
            <a href="#"><img src="icons/links/WhatsApp.svg" alt="WhatsApp"></a>
            <a href="#"><img src="icons/links/Upwork.svg" alt="Upwork"></a>
          </div>
        </div>
        <div class="footer__links">
          <nav class="footer__nav">
            <a href="#">Services</a>
            <a href="#">Competence</a>
            <a href="#" style="color: var(--accent-color);">Portfolio</a>
            <a href="#">About</a>
            <a href="#">Contact us</a>
          </nav>
          <div class="footer__credits">
            <p>© 2021 Unistory all rights reserved</p>
            <a href="#">Privacy Policy</a>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/portfolio.js"></script>
</body>
</html>